<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nuevo Jugador</title>
    <link th:href="@{/css/fifa-style.css}" rel="stylesheet">
</head>
<body>
    <div class="main-card">
        <h1>Registrar Nuevo Jugador</h1>
        
        <form th:action="@{/jugadores/guardar}" th:object="${jugador}" method="post">
            
            <div>
                <label>Nombre:</label>
                <input type="text" th:field="*{nombre}" required />
            </div>
            <div>
                <label>Posición:</label>
                <input type="text" th:field="*{posicion}" placeholder="Ej: Portero, Delantero" />
            </div>
            <div>
                <label>Número de Camiseta:</label>
                <input type="number" th:field="*{numeroCamiseta}" />
            </div>
            <div>
                <label>Equipo:</label>
                <select th:field="*{equipo}" required>
                    <option value="">Selecciona un equipo...</option>
                    <option th:each="equipoItem : ${equipos}" th:value="${equipoItem.id}" th:text="${equipoItem.nombre}"></option>
                </select>
            </div>
            <button type="submit" class="btn-fifa">Guardar Jugador</button>
        </form>
        
        <div class="mt-20">
            <a th:href="@{/equipos}" class="btn-fifa">Volver a la lista</a>
        </div>
    </div>
</body>
</html>