<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registrar Equipo</title>
    <link th:href="@{/css/fifa-style.css}" rel="stylesheet">
</head>
<body>
    <div class="main-card">
        <h1>Registro de Selección</h1>
        <form th:action="@{/equipos/guardar}" th:object="${equipo}" method="post">
            <input type="text" th:field="*{nombre}" placeholder="Nombre del País (ej. Guatemala)" required>
            <input type="text" th:field="*{abreviatura}" placeholder="Abreviatura (ej. GUA)" maxlength="3">
            <input type="text" th:field="*{entrenador}" placeholder="Nombre del Entrenador">
            <button type="submit" class="btn-fifa">Guardar Selección</button>
            <input type="hidden" th:field="*{id}" />
        </form>
        <div class="mt-20">
            <a href="/equipos" class="btn-fifa">Cancelar / Volver</a>
        </div>
    </div>
</body>
</html>