<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Simulador Mundial UMG</title>
    <link th:href="@{/css/fifa-style.css}" rel="stylesheet">
</head>
<body>
    <div class="main-card">
        <h1>🏆 FIFA WORLD CUP</h1>
        <p>UMG SIMULATOR 2026</p>
        
        <div class="menu-grid">
            <a href="/equipos" class="btn-fifa">Selecciones</a>
            <a href="/jugadores" class="btn-fifa">Jugadores</a>
            <a href="/simulacion" class="btn-fifa" style="background-color: var(--fifa-red);">Panel de Simulación</a>
        </div>
    </div>
</body>
</html>