<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Plantilla de Jugadores</title>
    <link th:href="@{/css/fifa-style.css}" rel="stylesheet">
</head>
<body>
    <div style="margin-top: 20px; margin-bottom: 20px;">
        <a href="/" class="btn-fifa" style="display: inline-block; width: 200px; text-align: center;">Pagina Principal</a>
    </div>
    <h1>Jugadores Inscritos</h1>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Dorsal</th>
                <th>Posición</th>
                <th>Selección</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="j : ${jugadores}">
                <td th:text="${j.nombre}"></td>
                <td th:text="${j.numeroCamiseta}"></td>
                <td th:text="${j.posicion}"></td>
                <td th:text="${j.equipo.nombre}"></td> </tr>
        </tbody>
    </table>
    <br>
    <a href="/jugadores/nuevo">Inscribir nuevo jugador</a>
</body>
</html>